<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bodgan Yarmak</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/reg.css">
    <script src="../static/js/index.js"></script>
</head>
<body>

<header>
    <div id="btn1">Portfolio</div>

    <nav>
        <a href="index.html" style="animation: StartAnimationHeader1 1.5s normal;">Главная страница</a>
        <a href="contacts.html" style="animation: StartAnimationHeader1 2s normal;">Контакты</a>
        <a href="projects.html" style="animation: StartAnimationHeader1 2.5s normal;">Проекты</a>
    </nav>
    
    <div>
        <a href="logout.html" style="margin-left: 100px;">Выйти из аккаунта</a>
    </div>

</header>
    <h1 style="color: rgba(240, 240, 240, 0.9);">Добро пожаловать!</h1>

</body>
</html>
