<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bodgan Yarmak | Registration</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/index.js"></script>
</head>
<body>

<header>
    <div id="btn1">Portfolio</div>

    <nav>
        <a href="index.html" style="animation: StartAnimationHeader1 1.5s normal;">Главная страница</a>
        <a href="contacts.html" style="animation: StartAnimationHeader1 2s normal;">Контакты</a>
        <a href="projects.html" style="animation: StartAnimationHeader1 2.5s normal;">Проекты</a>
    </nav>

    <div id="btn2">
        <button id="signin" style="animation: StartAnimationHeader3 1.5s ease-in;" onclick="GetSignInDialog()">Войти</button>
        <button id="signup" style="animation: StartAnimationHeader1 2s normal;" onclick="RegRegirect()">Зарегестрироваться</button>
    </div>
</header>
    
<form id="dialog2" method="post">
    <h1>Регистрация</h1>

    <h2>Введите новое имя пользователя: </h2><br>
    <input type="text" name="username" id="username1"><br>

    <h2>Введите пароль: </h2>
    <input type="password" name="password" id="password1"><span><input type="checkbox" class="checkbox1" onclick="showpassword()"></span>

    <h2>Повторите пароль: </h2>
    <input type="password" name="password" id="password2"><br>

    <button type="submit" onclick="return CheckSubmit()">Готово</button>
    <span style="color: rgb(255, 0, 0);text-shadow: 1px 1px 8px rgb(255, 255, 255); position: absolute; bottom: 150px;" id="errors"></span>
    <script>
        function CheckSubmit() {
            var username = document.getElementById('username1');
            var pass1 = document.getElementById('password1');
            var pass2 = document.getElementById('password2');
            var err = document.getElementById('errors');

            if (pass1.value === pass2.value && username.value.length > 3 && pass1.value.length > 7) {
                alert("Вы авторизованы!");
                return true;
            }

            if (username.value.length <= 3) {
                err.innerHTML = "Слишком короткое имя пользователя";
                return false;
            }

            if (pass1.value.length <= 7) {
                err.innerHTML = "Ненадежный пароль";
                return false;
            }

            else if (pass1.value !== pass2.value){
                err.innerHTML = "Пароли должны совпадать";
                return false;   
            };
            

        }
    </script>
</form>

</body>
</html>
